@model IEnumerable<HoliDayRental.Models.BienEchangeListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescCourte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssuranceObligatoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisabledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idMembre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCourte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssuranceObligatoire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisabledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idBien }) |
                @Html.ActionLink("Details", "Details", new { id = item.idBien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idBien })
            </td>
        </tr>
}
    </tbody>
</table>
